.body {
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    padding: 20px;
  }
  
  .tv {
    background-color: black;
    display: grid;
    justify-content: space-between;
    height: 85%;
    width: 90%;
    border-radius: 2%;
    padding: 5px;
  }
  .screenTv {
    background-color: rgb(47, 47, 57);
    display: grid;
    height: 100%;
    width: 100%;
    border-radius: 2%;
    object-fit: contain;
    position: relative;
  }
  
  .screenTv img {
    width: 100%;
    height: 100%;
  }
  
  .infoChannel {
    position: left;
    top: 2rem;
    right: 2rem;
    color: white;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
  }
  
  .screenTv.none {
    display: none;
  }
  
  .remote {
    background: rgb(0, 0, 0);
    flex-direction: row;
    grid-template-rows: 15% 30% 55%;
    border-radius: 5%;
    width: 75%;
    height: 90%;
  }

  .onOff {
    background-color: rgb(255, 0, 0);
    width: 5em;
    height: 2em;
    border-radius: 25%;
    align-content: center;
    margin: auto;
  }
  .homeBtn {
    background-color: rgb(24, 24, 24);
    border-radius: 25%;
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .topRemote {
    flex-direction: row;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0%;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .midRemote {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: grid;
    align-content: space-around;
    margin: auto;
  }
  .bottomRemote {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 0%;
    row-gap: 12%;
    margin-inline: 1px;
    border: 1px solid black;
  }
  .vol {
    justify-content: space-around;
    width: 100%;
    height: 50%;
  }
  .channel {
    justify-content: space-around;
    width: 100%;
    height: 50%;
  }
